body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

    color: #222;
    background: #f4f4f4;
}

a {
    color: #34308a;
}

h1, h2 {
    margin-top: 0;
}

main {
    flex-grow: 1;
    padding: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 24px;
    background: #e4e2f4;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.layout {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    gap: 20px;
}

.layout header {
    grid-area: header;
}

.layout aside {
    grid-area: sidebar;
}

.layout main {
    grid-area: main;
    background: white;
}

.layout footer {
    grid-area: footer;
}

aside {
    padding: 24px;
    background: #e4e2f4;
}

footer {
    padding: 20px;
    text-align: center;
    background: #34308a;
    color: white;
}

/* Узкие экраны */
@media (max-width: 650px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
    }
}
